*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd, mark {
    margin: 0;
    background-color: inherit;
    color: inherit;
}
a {
    text-decoration: none;
}

img {
    font-size: 1px;
    line-height: 1px;
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

    input,
    input:focus {
        outline: none;
        border: 1px #cecece solid;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0px;
    }
/*html {
    font-size: 62.5%;
    line-height: 1.15;
    font-family: SF Pro Display,sans-serif;
    font-style: normal;
}*/

html {
    font-size: 26px;
    line-height: 1.5em;
}

body {
    overflow-x: hidden;
    font-family: "Roboto", Helvetica, Calibri;
    color: #371100;
    background: #262626;
    min-width: 100vw;
    min-height: 100vh;
    /*START (added for hardscroll)*/
    overscroll-behavior-x: none;
    /*END (added for hardscroll)*/
}
#contact{
    font-size:16px;
}
.btn-an:hover{
    color:white;
}
/*body {
    font-size:1rem;
    line-height:1rem;
    background: #262626;
    font-weight:400;
}*/
/*helper classes */
.text {
    font-family: SF Pro Display,sans-serif;
    font-style: normal;
    line-height:150%;
}
.white{
    color:white;
}
.green{
    color:#00FFBB;
}
.blue{
    color:blue;
}
.xsmall {
    font-size: 1rem;
    line-height: 1.5em;
}

.small {
    font-size: 1.2rem;
    line-height: 1.5em;
}

.medium {
    font-size: 1.2rem;
    line-height: 1.5em;
}

.large-text {
    font-size: 1.5rem;
    line-height: 1.3em;
}

.light-text {
    color: #fff;
}

.dark-text {
    color: #000;
}

.highlight-text {
    color: #945d2c;
    background-color: transparent;
}
.bold-text {
    font-weight: 600;
}

/*helper classes end*/
#bitmoji-wrapper {
    width: 100%;
    height: 100%;
}
#container {
    width: 100vw;
    height: auto;
}
.container-wrapper {
    margin: auto;
    width: 100%;
}
.header-wrapper {
    height: 100%;
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.hamburger-menu {
    border-radius: 50%;
    width: 2.7rem;
    height: 2.7rem;
    margin: auto 0;
    margin-left: 1rem;
    cursor: pointer;
    text-align: center;
    display: none;
    background: url(Img/header-hamburger-menu.png) no-repeat center center;
    background-color: #0fb;
    background-size: 65%;
}

/*header css Start*/
header, footer {
    width: 100%;
    opacity: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 12;
    background: #212121;
    opacity: .8;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    position: absolute;
    top: 2%;
    width: 100%;
    left: 2%;
    margin: 0;
    height: 3.3rem;
    line-height: 1em;
    z-index: 0;
}
footer{
    position:static;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul{
    list-style-type:none;
}
nav ul li{
    float:left;
    font-family: Red Hat Display,sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-right: 1rem;
}
    nav ul li:last-child {
        color:#303030;
        margin-right: 0;
    }
/*header css END*/
.text-hi{
margin-top:2rem;
margin-left:1rem;
}
.page {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}
.inside-page{
    margin-top:10rem;
}
.content-text{
    display:flex;
    flex-direction:column;
}
.content-text span, .content-text button {
      /*  margin-top: 2rem;*/
    }

.btn span{
    margin-top:0;
}
.content {
    display: flex;
    justify-content: space-between;
}
.section-left {
    width: 70%;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    margin-top: 9%;
}
.section-right {
    align-content: flex-end;
    margin-top: 5%;
}
.section-right img{
    width:80%;
    height:80%;
    float:right;
}
.description-img{
    margin-left:auto;
    margin-right:auto;
}
/*.section-left div{
    margin-bottom:1.6rem;
}*/
.justify-center {
    justify-content: center;
}
.align-center{
    align-items:center;
}
.btn {
    background: #0fb;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #303030;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 2.625rem;
}
.start-button {
   margin-left: 2.5rem;
    
}
.hire-me{
    width:10rem;
}
.header-ul{
    display:flex;
    align-items:center;
    
}
.cross {
    background: url(Img/header-cross-button.svg) no-repeat center center;
    width: 2.7rem;
    height: 2.7rem;
    margin: auto 0;
    margin-left: 1rem;
    cursor: pointer;
    text-align: center;
    display: none;
    z-index:2;
    border-radius:50%;
    background-color: #0fb;
    background-size: 50%;
}

.header-ul.header-show-overlay {
    width: 52vw;
    top: -59%;
    position: absolute;
    right: 0;
    height: 55h;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 13% 5%;
    border: 1px solid #00FFBB;
    align-items: flex-start;
    transition: opacity 1s 1s;
    flex-direction: column;
    display: flex;
}
    .header-ul.header-show-overlay li {
        background-color: #0fb;
        padding: 3%;
        border-radius: 10px;
        color: black;
        margin: 5% 0;
        font-weight: 600;
    }
    .header-ul.header-show-overlay li:last-child {
        background-color:rgba(0, 0, 0, 0.9);
        padding: 0;
        border-radius: 0;
    }
    .navbar-open .hamburger-menu {
        display: none;
    }
.navbar-open .cross{
    display:inline-block;
}
/*random box Start*/
.square {
    display: inline-block;
    min-width: 30px;
    min-height: 30px;
    position: absolute;
    opacity: 1;
}
#square-1 {
    transition: 3s all;
    background: rgba(255,226,64,.7);
/*    animation: 15s move infinite;*/
    top: 0;
    left: 0;
}
#square-2 {
    top: 0;
    left: 0;
/*    animation: 15s move-1 infinite;*/
    background: rgba(227,31,113,.5);
    transition: 3s all;
}
.tri {
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    opacity: 1;
    border-right: 25px solid transparent;
}
#triangle-1 {
    transition: 3s all;
    top: 0;
    left: 0;
    border-bottom: 50px solid yellow;
/*    animation: move-3 11s 1s infinite;*/
    opacity:.7;
}
nav ul li{
    cursor:pointer;
}
    
#triangle-2 {
    transition: 3s all;
    top: 0;
    left: 0;
    border-bottom: 50px solid pink;
    opacity:.7;
/*    animation: move-4 13s 1s infinite;*/
}

/* @keyframes move{
     10%{
       top:40%;
       left:40%;
     }
     30%{
         top:40%;
         left:60%;
     }
     60%{
         left:60%;
         top:30%;
     }
     90%{
         left:70%;
         top:30%;
     }

 }
@keyframes move-1 {
    10% {
        top: 10%;
        left: 40%;
    }

    30% {
        top: 30%;
        left: 20%;
    }

    60% {
        left: 35%;
        top: 0%;
    }

    90% {
        left: 7%;
        top: 90%;
    }
}
@keyframes move-3 {
    10% {
        top: 30%;
        left: 80%;
    }

    30% {
        top: 20%;
        left: 10%;
    }

    60% {
        left: 5%;
        top: 70%;
    }

    90% {
        left: 72%;
        top: 39%;
    }
}
@keyframes move-4 {
    10% {
        top: 40%;
        left: 10%;
    }

    30% {
        top: 20%;
        left: 30%;
    }

    60% {
        left: 0%;
        top: 35%;
    }

    90% {
        left: 90%;
        top: 7%;
    }
}*\
/*random box END*/

/*my portfolio*/

.wrapper-portfolio {
    min-width: 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 5px;
    transition: all 1s ease;
    min-height: 50rem;
    flex: 0 1 30rem;
    font-family: SF Pro Display,sans-serif;
}

.temp{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-container .port-container-1:before {
    background-image: url(https://res.cloudinary.com/kemkem-dev/image/upload/c_fit,h_600,w_600/v1601063618/portfolio/new-port-1_fdfoiu.jpg);
}
.flex-container .profile-wrapper:before {
    transform: skew(30deg) translateX(125%);
}
.flex-container .profile-wrapper:after {
    transform: skew(30deg) translateX(-125%);
}
.flex-container .profile-container::before, .flex-container .profile-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
    transition: all .5s ease-in;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
.flex-container .port-container-1::before {
    background-image: url(https://res.cloudinary.com/kemkem-dev/image/upload/c_fit,h_600,w_600/v1601063618/portfolio/new-port-1_fdfoiu.jpg);
}
.header{
    text-align:center;
}
.flex-container .profile-wrapper:after, .flex-container .profile-wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,#2371ae 0,#bb47d4);
    opacity: .9;
    transition: all .6s ease;
}
.flex-container.change .profile-wrapper:before {
    transform: skew(30deg) translateX(-125%) !important;
}

.flex-container.change .profile-wrapper:after {
    transform: skew(30deg) translateX(125%) !important;
}


.contact-wrapper{
    text-align:center;
}
#contact-me {
    font-family: SF Pro Display,sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #0fb;
    margin-right: 7px;
}
#p{
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: SF Pro Display,sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .02em;
}

.container {
    text-align: center;
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 15rem;
    max-width: 1200px;
}

.about {
    display: flex;
    flex-wrap: wrap;
}

.glow {
    color: #0fb;
}

.image-me {
    position: relative;
    width:50%;
}

.about .image-me img {
    width: 30rem;
    height: 37rem;
    margin-top: 2rem;
    filter: drop-shadow(0 1.6rem 1.6rem rgba(51,51,51,.25));
}
/*#about{
    background:#262626;
}*/
.about .image-me:after {
    content: "";
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    border-top: 9px solid #0fb;
    border-left: 9px solid #0fb;
    height: 35rem;
    width: 24rem;
}

.header {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.about .about-text {
    width:70%;
    overflow: hidden;
    color: azure;
    text-align: left;
}

.header-text1 span:first-of-type {
    font-weight: 400;
    color: #0fb;
    margin-right: 7px;
}


.line {
    display: inline-block;
    width: 4rem;
    height: 0.2rem;
    background: #0fb;
    margin-bottom: 0.2rem;
}

.header-text2 h3 {
    font-weight: 700;
    color: #fff;
    margin-top: 1.6rem;
}

.text {
    margin-bottom: 1.5rem;
    line-height:150%;
}

    .text p {
        font-weight: 400;
        color: #fff;
        margin-bottom: 2.4rem;
    }
.intro-text{
    line-height: 150%;
}
.download {
    width: 10rem;
    height: 20%;
    background: #0fb;
    padding: 1rem 2rem;
    border-radius: 3rem;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: #303030;
    text-decoration: none;
}
.content  a{
    text-decoration:none;
}
    .download span {
        font-weight: 500;
        text-align: center;
    }

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service-card {
    background-color: #2b2b2b;
    height:36rem;
    width: 30%;
    box-shadow: 0 1.6rem 2.4rem rgb(0 0 0 / 25%);
    border-radius: 0.8rem;
    position: relative;
    padding: 1.6rem 4.3rem 2.2rem 3.5rem;
    position: relative;
    margin-bottom: 2.7rem;
    margin-right: 1rem;
    margin-left: 1rem;
    text-align: left;
}


    .service-card div {
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        margin-bottom: 1.5rem;
        align-items: center;
    }



.service-card h5 {
    color: #fff;
}

.service-card.one div {
    background-color: rgba(0,174,255,.2);
}

.service-card.two div {
    background-color: rgba(227,31,113,.2);
}

.service-card.three div {
    background-color: rgba(136,56,180,.2);
}

.service-card img {
    width: 3rem;
    height: 3rem;
}

.service-card p {
    color: #fff;
    font-weight: 400;
}

.one:after {
    background: #00aeff;
}

.two:after {
    background: #e31f71;
}

.three:after {
    background: #8838b4;
}

.service-card:hover {
    background-color: #0fb;
}

    .service-card:hover .black {
        color: black;
    }

.service-card:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1rem;
    bottom: 0;
    left: 0;
    border-radius: 0 0 0.8rem 0.8rem;
}



.work-flow-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.bottom{
    margin-top:1rem;
    margin-bottom:2rem;
}
#contact .section-right{
    margin-top:0;
}
.work-flow-card {
    background-color: #2b2b2b;
    height: 25rem;
    width: 18%;
    box-shadow: 0 1.6rem 2.4rem rgb(0 0 0 / 25%);
    border-radius: 0.8rem;
    position: relative;
    padding: 1rem;
    text-align: left;
    margin-left: 2rem;
    margin-top: 1rem;
}

.work-flow h5 {
    color: #fff;
}

.work-flow p {
    color: #fff;
}

.work-flow-card img {
    width: 1.5rem;
    height: 1.5rem;
}

.one:after, .four:after {
    background: #00aeff;
}

.two:after, .five:after {
    background: #e31f71;
}

.three:after {
    background: #8838b4;
}

.work-flow-card:hover {
    background-color: #0fb;
}

    .work-flow-card:hover .black {
        color: black;
    }

.work-flow-card:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1rem;
    bottom: 0;
    left: 0;
    border-radius: 0 0 0.8rem 0.8rem;
}

.portfolio-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.portfolio-card {
    display: inline-block;
    width: 30%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 5px;
    transition: all 1s ease;
    height: 60rem;
    margin: 1rem;
    flex: 0 1 30rem;
}

    .portfolio-card:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 1;
        transition: all .5s ease-in;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #0f0d16;
        object-fit: cover;
    }

.portfolio-card-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}

.portfolio-card#one:before {
    background-image: url(https://res.cloudinary.com/kemkem-dev/image/upload/c_fit,h_600,w_600/v1601063618/portfolio/new-port-1_fdfoiu.jpg);
}
#two::before {
    background-image: url(https://res.cloudinary.com/kemkem-dev/image/upload/c_fit,h_600,w_600/v1601063618/portfolio/new-port-2_uwlgpl.jpg);
}
.portfolio-card#three:before {
    background-image: url(https://res.cloudinary.com/kemkem-dev/image/upload/c_fit,h_600,w_600/v1601063627/portfolio/new-port-3_cxj8pl.jpg);
}
.portfolio-card#four:before {
    background-image: url(https://res.cloudinary.com/kemkem-dev/image/upload/c_fit,h_600,w_600/v1601063618/portfolio/new-port-2_uwlgpl.jpg);
}
.portfolio-card#five:before {
    background-image: url(https://res.cloudinary.com/kemkem-dev/image/upload/c_fit,h_600,w_600/v1601063695/portfolio/new-port-5_f6hpjs.jpg);
}
.portfolio-card#six:before {
    background-image: url(https://res.cloudinary.com/kemkem-dev/image/upload/c_fit,h_600,w_600/v1601063692/portfolio/new-port-6_uuwkso.jpg);
}

.portfolio-card-wrapper:after,
.portfolio-card-wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,#2371ae 0,#bb47d4);
    opacity: .9;
    transition: all .6s ease;
}

.portfolio-card-wrapper:before, .one.move .portfolio-card-wrapper:after {
    transform: skew(30deg) translateX(105%);
}

.portfolio-card-wrapper:after, .one.move .portfolio-card-wrapper:before {
    transform: skew(30deg) translateX(-105%);
}

.portfolio-card-wrapper .card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 10px;
    position: relative;
    opacity: 0;
    transition: all .3s ease;
    color: #fff;
}

.move .card {
    opacity: 1;
}

.move.portfolio-card.one:before {
    opacity: 0;
}


.card h4 {
}

.card p {
    color: #fff;
    margin: 4rem 0;
}

.card a {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding: 0.6rem 1.5rem;
    margin-top: 1rem;
    background: #2371ae;
    border-radius: 5rem;
    background: linear-gradient(90deg,#bb47d4 0,#2371ae);
}



.contact-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width:100%;
}

    .contact-inner .section-left {
    }

.column {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2rem;
    margin-right: 1.5rem;
}

.header-text3 {
    color: #fff;
    margin: 0 auto 5rem;
    text-align: center;
    font-weight: 400;
    letter-spacing: .02em;
}

.contact-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

    .contact-inner .section-left {
        margin-top: 0rem;
        width: 50%;
    }


.column {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2rem;
    margin-right: 0;
}

    .column p {
        font-weight: 400;
        text-align: center;
        color: #fff;
    }

    .column a {
        text-decoration: none;
        text-align: center;
    }

.contact-image {
    width: 3rem;
    height: 3rem;
    background: #0fb;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.contact-form {
    width: 40rem;
    max-width: 100%;
}

.section-right input {
    background: #262626;
    box-shadow: 0 0.8rem 0.4rem rgb(51 51 51 / 25%);
    border-radius: 3rem;
    display: block;
    width: 100%;
    border: 1px solid #fcfcfc;
    height: 3rem;
    display: flex;
    align-items: center;
    padding:1rem;
    margin-bottom: 2.5rem;
    line-height: 1.4rem;
    color: #fff;
}

.contact-inner .section-right {
    width: 50%;
}

.description{
    margin-top:2rem;
}
.form-two {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

    .form-two input {
        width: 80%;
    }

.section-right textarea {
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 2.5rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #fff;
    background: #262626;
    width: 100%;
    font-family: SF Pro Display,sans-serif;
}

.form-submit {
    height: 3.5rem;
    width: 12rem;
    justify-content: center;
    align-items: center;
    background: #0fb;
    margin-left:0;
}

footer {
    display: flex;
    align-items:center;
    justify-content: space-around;
}

.logo-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-wrapper{
    height:100px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:90%;
}
.footer-left {
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.footer-left img{
    width:15%;
}
.copyright {
    display:flex;
    align-items:center;
    color: #fff;
}

.service-card h5, .service-card p{
    margin-top:2rem;

}
service-card p {
    margin-top:1rem;

}
.logo-section a{
    margin-left:10px;
}

.section {
    width: 100%;
    margin: auto;
    padding:5rem 0;
}
.home.section{

    background:#212121;
}

.content {
    width: 90%;
    margin: auto;
}
.flex{
    display:flex;
    flex-direction:column;
}

#home{
    padding:10rem 0;
}
#tech-stack{
    display:flex;
    justify-content:space-between;
    flex-direction:column;
}
#services .section-left{
    margin-top:1rem;
}
.flex-row{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
#services .section-right {
    width: 40%;
    margin-top: 4rem;
    text-align: center;
}
#footer .logo-section a {
    cursor: pointer;
}
.ul:hover {
    color: #0fb;
    text-decoration: underline;
}

.tech-stack-row{
    width:80%;
    margin:auto;
    margin-top:1rem;

}
.tech-stack-row div{
    width:25%;
}
.tech-stack-description {
    width: 80%;
    border: 1px solid white;
    border-radius: 1rem;
    padding:0 2rem;
}
.description-img {
    margin-top: 3rem;
    
}
    
    .flex-center {
        display: flex;
        justify-content: center;
    }
.skill-btn {
    background:white;
 /*   width:100px;
    height: 100px;*/
    width: 90%;
    height: 100%;
}
    .skill-btn img {
        width: 80px;
        height: 80px;
        border-radius: 20%;
    }
.description-img {
    height: 150px;
    width: 150px;
}
.skill-btn {
    border-radius: 20%;
    overflow: hidden;
}
.skill-btn img{
    width:99%;
    height:100%
}
    .skill-btn:hover {
        cursor: pointer;
        opacity:.9;
    }

.description-img img{
border-radius:20%;
}
.description-title{
    margin-top:2rem;
}
.project-count{
    margin-top:1rem;
}
.experience {
    margin-bottom:4rem;
    margin-top: 1rem;
}
.fn-700{
    font-weight:700;
}
.btn-an:hover{
    opacity:.9;
    color:white;

}

@media screen and (max-width: 950px) {
    .description-img {
        height:100px;
        width: 100px;
    }
    .work-flow-container{
        width:100%;
    }
    .work-flow-card{
        width:50%;
    }
    html {
        font-size: 40%;
    }
    #home .content{
        flex-direction:column-reverse;
    }
    #home .section-right {
        width: 60%;
        margin: auto;
        margin-bottom:2%;
    }
    #home .section-left {
   width:80%;
   margin:auto;
    }
    #home .btn{
        margin-bottom:3rem;
    }
    .services-container .section-left {
        width:100%;
        margin-bottom:3rem;
        }
    #services .section-right{
        width:70%;
    }
    #contact .section-left{
        width:100%;
        margin:auto;
        text-align:center;
        justify-content:center;
    }
    #contact .section-right {
        width: 80%;
    }

    .hamburger-menu {
        display: inline-block;
    }

    .header-ul {
        display: none;
    }
    .start-button{
        margin-left:0;
    }
    
    .image-me {
        display: none;
    }

    .about-text {
        margin: auto;
    }


    .service-card {
        width: 50%;
    }

    .work-flow-card {
        width: 42%;
    }

    .portfolio-card {
        width: 90%
    }

    .contact-inner .section-left {
        width: 100%;
        justify-content: center;
    }

    

    #contact .section-right {
        margin-top: 5rem;
    }
}


.logo-section a img{
    height:20px;
}

.header-wrapper .logo img{
    height:3rem;
   
}
@media only screen and (max-width:1540px) {
    html {
        font-size: 21px;
        line-height: 1.5em;
    }
    
}

@media only screen and (max-width:1300px) {
    html {
        font-size: 20px;
        line-height: 1.5em;
    }   
    
}

@media only screen and (orientation:landscape) and (min-height:500px) and (min-width:550px) and (max-width:1100px) {
    html {
        font-size: 16px;
        line-height: 1.4em;
    }
    
}

@media only screen and (orientation: portrait), screen and (orientation : landscape) and (max-width:550px) {
    html {
        font-size: 24px;
        line-height: 1.5em;
        margin-right: 0.5rem;
    }

}
@media only screen and (max-width:800px) {
    html {
        font-size: 19px;
        line-height: 1.5em;
    }
    
}
@media only screen and (max-width:550px) {
    html {
        font-size: 15px;
        line-height: 1.5em;
    }
    .hamburger-menu {
        display: inline-block;
    }

    .header-ul {
        display: none;
    }

    
}
@media only screen and (max-width:428px) {
    html {
        font-size: 13px;
        line-height: 1.5em;
    }
    
}
@media only screen and (max-width:428px) and (orientation: portrait) and (max-height:600px) {
    html {
        font-size: 11px;
        line-height: 1.4em;
    }
}
.scroll-down .header-wrapper {
    transform: translate3d(0, -100%, 0);
}

.scroll-down .header-wrapper {
    background: var(--darkgray);
}

.scroll-up .header-wrapper {
    transform: translate3d(0, 100%, 0);
}
